<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <connectionStrings>
    <add name="MedicalService" connectionString="server=103.6.222.206;Initial Catalog=TestRe;uid=dev;pwd=DevABC8888688" providerName="System.Data.SqlClient"/>
    <add name="OperateService" connectionString="server=103.6.222.206;Initial Catalog=TestRe;uid=dev;pwd=DevABC8888688" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
    <!--数据库字符串是否加密-->
    <add key="ConStringEncrypt" value="false" />
    <add key="DAL" value="Rc.SQLServerDAL" />
    <!--虚拟目录 配置方法：/虚拟目录名称-->
    <add key="VirtualPath" value="" />
    <!--获取部署的端口号,当系统外网部署使用路由器映射端口的方式时，系统获取不到端口，暂时采用在此处配置-->
    <add key="Port" value="" />
    <!--系统编号-->
    <add key="SYSCODE" value="00001" />
    <!--长缓存时间 单位分种-->
    <add key="CatchTimeLong" value="1" />
    <!--获取SW/CLASS文件的URL-->
    <add key="DocumentUrl" value="/Upload/Resource/" />
    <!--获取SW/CLASS预览图片的URL-->
    <add key="ViewUrl" value="http://169.254.170.160:8062/" />

    <!--同步教案(class/sw)文件的地址-运营-->
    <add key="SynTeachingPlanWebSiteUrl" value="http://169.254.170.160:8062/" />
    <!--同步教案（class/sw）预览图片地址-运营-->
    <add key="SynTeachingPlanViewWebSiteUrl" value="http://169.254.170.160:8062/" />
    <!--同步习题集地址-运营-->
    <add key="SynTestWebSiteUrl" value="http://169.254.170.160:8062/" />
    <!--同步学生答案地址-运营-->
    <add key="SynStudentAnswerWebSiteUrl" value="http://169.254.170.160:8062/" />
    <!--音视频文件的地址-运营-->
    <add key="SynMediaWebSiteUrl" value="http://test.media.tuiti.cn/" />

    <!--生产平台站点部署资源文件的物理地址,最后需要加上斜杠(使用作业同步的时候，生产平台使用)-->
    <add key="WebSitePath" value="E:\workspace\Novoasoft\作业\trunk\Rc.Cloud.Web\Upload\Resource\" />

    <!--教案(class/sw)文件的地址-->
    <add key="TeachingPlanWebSiteUrl" value="http://169.254.170.160:8062/" />
    <!--教案（class/sw）预览图片地址-->
    <add key="TeachingPlanViewWebSiteUrl" value="http://169.254.170.160:8062/" />
    <!--习题集地址-->
    <add key="TestWebSiteUrl" value="http://169.254.170.160:8062/" />
    <!--学生答案地址（学校服务器配置为学校内网IP）-->
    <add key="StudentAnswerWebSiteUrl" value="http://169.254.170.160:8062/" />
    <!--音视频文件的地址-运营-->
    <add key="MediaWebSiteUrl" value="http://media.tuiti.cn/" />

    <!--缓存开启状态-->
    <add key="CacheMode" value="false" />
    <!--系统名称-->
    <add key="SysName" value="内容生产管理平台" />
    <!--站点名称-->
    <add key="WebSiteName" value="东方激光数字教学系统性云平台" />

    <!--生产平台的对外URL-运营平台下载资源使用-->
    <add key="ProductPublicUrl" value="http://114.112.106.36/" />

    <!--是否开启自动提交学生作业（只在运营平台开启true）-->
    <add key="AutoSubmitStuHW" value="true" />
    <!--自动提交学生作业间隔（单位秒）-->
    <add key="AutoSubmitSeconds" value="10" />

    <!--是否开启自动同步（生产平台开启true）-->
    <add key="SyncMode" value="false" />
    <!--自动同步数据时间-->
    <add key="SyncDataTime" value="01:00" />
    <!--自动同步文件时间（往运营平台同步）-->
    <add key="SyncPlanTime" value="02:00" />
    <!--自动同步文件时间（往学校同步）-->
    <add key="SyncPlanSchoolTime" value="03:00" />
    <!--是否显示组卷模块-->
    <add key="IsShowTestAssembly" value="true" />

    <!--客户端版本号（数字类型）-->
    <add key="clientVer" value="1.0" />

    <!--是否开启自动检测学校公网IP（运营平台开启true）-->
    <add key="VerifySchoolUrl" value="false" />
    <!--自动检测学校公网IP间隔（单位秒）-->
    <add key="VerifySchoolUrlSeconds" value="60" />
    <!--是否开启新版学生统计分析-->
    <add key="IsShowNewStuAnalysis" value="true" />
  </appSettings>
  <system.web>
    <!--<globalization requestEncoding="gb2312" responseEncoding="gb2312" culture="zh-CN" fileEncoding="gb2312" />-->
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" defaultRedirect="/ErrorPageF.aspx" />
    <httpRuntime maxQueryStringLength="2097151" maxRequestLength="1073741824" executionTimeout="3600" requestValidationMode="2.0" />
    <authentication mode="Forms" />
    <pages autoEventWireup="true" clientIDMode="AutoID">
      <controls>
        <add namespace="Rc.WebControls" assembly="Rc.WebControls" tagPrefix="PHHC" />
      </controls>
    </pages>
    <!--<sessionState mode="StateServer" timeout="3600" stateConnectionString="tcpip=127.0.0.1:42424" />-->
    <sessionState mode="SQLServer" sqlConnectionString ="data source=47.92.135.167; user id=dev; password=DevABC8888688" timeout="3600" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
      <remove fileExtension=".dsc" />
      <mimeMap fileExtension=".dsc" mimeType="application/x-java-applet" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="8024000" />
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>