@import url(../plugin/font-awesome-4.7.0/css/font-awesome.min.css);
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: Roboto, 'Segoe UI', Arial, 'PingFang SC', 'Microsoft Yahei', sans-serif;
  background: #EDEFF0;
}
.bg_white {
  background: #fff;
}
a {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
a.disabled {
  color: #b3b3b3;
  cursor: not-allowed;
}
/*悬浮菜单*/
.elevator {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 999;
  user-select: none;
}
.elevator .item {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #337ab7;
  margin-top: 8px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  padding: 9px 5px 0;
  letter-spacing: 1px;
  line-height: 16px;
  -webkit-user-select: none;
  user-select: none;
}
.elevator .item a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  background: #337ab7;
  vertical-align: middle;
}
.elevator .item i {
  margin-top: -5px;
  padding-bottom: 3px;
}
.elevator .item p {
  margin: 0;
}
.elevator .complete_correction {
  padding: 0;
}
.elevator .complete_correction .btn {
  width: 50px;
  height: 50px;
  padding: 5px;
  white-space: normal;
  line-height: 18px;
}
/*滚动条开始*/
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  position: relative;
  min-height: 25px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.3);
}
/*滚动条结束*/
/*组件开始*/
/*容器*/
.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
}
.container {
  padding-right: 10px;
  padding-left: 10px;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
}
/*警告框*/
.alert {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
}
/*栅格*/
[class^="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}
/*下拉菜单*/
.dropdown .dropdown-menu {
  padding: 0;
}
.dropdown .dropdown-menu > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}
/*表格*/
.table > thead > tr > th {
  border-bottom-width: 1px;
  font-size: 15px;
}
.table label {
  margin: 0;
}
.table label input[type="checkbox"] {
  vertical-align: -2px;
}
/*标签*/
.label {
  border-radius: 1px;
  font-weight: normal;
}
.label-default {
  background: #999;
}
.label-info {
  background: #1686D7;
}
/*面板*/
.panel {
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: none;
}
.panel .panel-heading {
  padding: 0;
  height: 50px;
  position: relative;
}
.panel .panel-heading:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e6e6e6;
}
.panel .panel-heading .panel-title {
  line-height: 50px;
  padding: 0 10px;
  font-size: 15px;
}
.panel .panel-heading .panel_control {
  float: right;
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
.panel .panel-heading .panel_control:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.panel .panel-heading .panel_control .nav-tabs > .active > a {
  z-index: 1;
}
.panel .panel-heading .panel_control .nav-tabs {
  display: inline-block;
  height: 40px;
  margin-top: 10px;
  vertical-align: bottom;
  border: 0;
}
.panel .panel-heading .panel_control .nav-tabs > li.active > a,
.panel .panel-heading .panel_control .nav-tabs > li.active > a:focus,
.panel .panel-heading .panel_control .nav-tabs > li.active > a:hover {
  border-color: rgba(0, 0, 0, 0.07);
  border-bottom-color: transparent !important;
}
.panel .panel-heading .panel_control .nav-tabs > li > a:hover {
  border-bottom-color: transparent !important;
}
.panel .panel-heading .panel_control .nav > li > a {
  padding-bottom: 9px !important;
}
.panel .panel-body {
  padding: 10px 10px 20px;
}
/*标签页*/
.nav-tabs > li > a {
  border-radius: 2px 2px 0 0;
}
/*辅助类*/
.text-danger {
  color: #ee2427;
}
.text-muted {
  color: #999;
}
.text-success {
  color: #00B864;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:focus,
a.text-primary:hover {
  color: #285f8f;
}
/*分页*/
.page {
  text-align: right;
}
.page .pagination_info {
  display: inline-block;
  line-height: 34px;
  vertical-align: middle;
}
.page .pagination_info > select {
  height: 34px;
  border: #ccc solid 1px;
  border-radius: 2px;
  padding: 0 5px;
  text-align: center;
}
.page .pagination {
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
}
.page .pagination > li:first-child > a,
.page .pagination .pagination > li:first-child > span {
  border-radius: 2px 0 0 2px;
}
.page .pagination > li:last-child > a,
.page .pagination .pagination > li:last-child > span {
  border-radius: 0 2px 2px 0;
}
/*表单*/
.form-control {
  border-radius: 2px;
  box-shadow: none;
  resize: none;
}
.form-control:focus {
  border-color: #337ab7;
  box-shadow: none;
}
.form-control.input-sm {
  border-radius: 1px;
}
.form-control.input-sm + .input-group-addon {
  border-radius: 1px;
  background: transparent;
}
.form-inline label {
  font-weight: normal;
  margin-bottom: 0;
}
.form-inline label input[type='checkbox'] {
  vertical-align: -2px;
}
.input-group-addon {
  border-radius: 2px;
}
.checkbox.checkbox_1 input[type=checkbox],
.checkbox.checkbox_1 input[type=checkbox] {
  margin-left: 0;
}
.checkbox table td + td {
  padding-left: 15px;
}
.checkbox table tr + tr td {
  padding-top: 10px;
}
.checkbox label {
  padding-right: 10px;
}
.radio.radio_1 input[type=radio],
.radio.radio_1 input[type=radio] {
  margin-left: 0;
}
.radio table td + td {
  padding-left: 15px;
}
.radio table tr + tr td {
  padding-top: 10px;
}
/*按钮*/
.btn {
  border-radius: 2px;
  box-shadow: none;
}
/*面包屑导航*/
.breadcrumb {
  margin-bottom: 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 3px;
  background: transparent;
}
.breadcrumb a {
  color: #333;
  cursor: default;
}
.breadcrumb a:hover,
.breadcrumb a:focus {
  text-decoration: none;
}
/*进度条*/
.progress {
  border-radius: 2px;
}
/*datetimepiker*/
.datetimepicker table tr td.active,
.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active.disabled:hover {
  background-image: none !important;
  border-radius: 2px !important;
}
.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active {
  background: #337ab7 !important;
  text-shadow: none;
}
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active {
  background: #337ab7 !important;
  border-radius: 2px;
  text-shadow: none;
}
/*组件结束*/
/*框架开始*/
.iframe_header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  height: 50px;
}
.iframe_wrap {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.iframe_sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 8888;
  overflow-y: auto;
  width: 180px;
}
.iframe_content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 180px;
  z-index: 7777;
  overflow-y: auto;
}
.iframe_content_sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  width: 200px;
}
.iframe_section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.iframe_content_sidebar + .iframe_section {
  left: 200px;
}
/*框架结束*/
/*内边距开始*/
.pa {
  padding: 10px;
}
.pn {
  padding: 0;
}
.pl {
  padding-left: 10px;
}
.pr {
  padding-right: 10px;
}
.pt {
  padding-top: 10px;
}
.pb {
  padding-bottom: 10px;
}
.ph {
  padding-right: 10px;
  padding-left: 10px;
}
.pv {
  padding-top: 10px;
  padding-bottom: 10px;
}
/*内边距结束*/
/*外边距开始*/
.ma {
  margin: 10px;
}
.mn {
  margin: 0;
}
.ml {
  margin-left: 10px;
}
.mr {
  margin-right: 10px;
}
.mt {
  margin-top: 10px;
}
.mb {
  margin-bottom: 10px;
}
.mh {
  margin-right: 10px;
  margin-left: 10px;
}
.mv {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*外边距结束*/
/*边框开始*/
.ba {
  border: #ccc solid 1px;
}
.bn {
  border: 0;
}
.bl {
  border-left: #ccc solid 1px;
}
.br {
  border-right: #ccc solid 1px;
}
.bt {
  border-top: #ccc solid 1px;
}
.bb {
  border-bottom: #ccc solid 1px;
}
.bh {
  border-right: #ccc solid 1px;
  border-left: #ccc solid 1px;
}
.bv {
  border-top: #ccc solid 1px;
  border-bottom: #ccc solid 1px;
}
/*边框结束*/
/*登录开始*/
.login_body {
  height: 100vh;
  background-image: linear-gradient(135deg, #5bf1e7 0, #337ab7 100%);
  background-size: cover;
  overflow: hidden;
}
.login_container > .panel {
  background: #fff;
  width: 350px;
  margin: 80px auto 0;
  border: none;
  box-shadow: none;
}
.login_container > .panel > .panel-body {
  padding: 15px 20px 60px;
}
.login_container > .panel > .panel-body .header {
  margin: 15px 0;
  padding: 0 0 15px;
  text-align: center;
}
.login_container > .panel > .panel-body .form-group .form-control {
  height: 38px;
}
.login_container > .panel > .panel-body .form-group .form-control:focus {
  border-color: #ccc;
}
.login_container > .panel > .panel-body .form-group.verify .form-control {
  text-transform: uppercase;
}
.login_container > .panel > .panel-body .form-group.verify .input-group-addon {
  background: transparent;
}
.login_container > .panel > .panel-body .form-group:not(.verify) .input-group-addon {
  background: #fff;
  padding-right: 0;
  color: #999;
}
.login_container > .panel > .panel-body .form-group:not(.verify) .form-control {
  border-left: 0;
}
.login_container > .panel > .panel-body .btn {
  margin-top: 30px;
}
/*登录结束*/
/*头部开始*/
.header .navbar-default {
  background: #337ab7;
  border: 0;
  border-radius: 0;
}
.header .navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 0.8);
}
.header .navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.8);
}
.header .navbar-default .navbar-nav > .active > a,
.header .navbar-default .navbar-nav > .active > a:focus,
.header .navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #285f8f;
}
.header .navbar-default .navbar-nav > .open > a,
.header .navbar-default .navbar-nav > .open > a:focus,
.header .navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #285f8f;
}
/*头部结束*/
/*侧边栏开始*/
.sidebar {
  background: #263238;
}
.sidebar .mtree a [data-name="mtreeBtn"] {
  width: 32px;
  text-align: center;
  padding-right: 0;
}
.sidebar a {
  color: rgba(255, 255, 255, 0.7);
  padding-top: 5px;
  padding-bottom: 5px;
}
.sidebar a:hover,
.sidebar a:focus {
  text-decoration: none;
  color: #fff;
}
.sidebar a.current {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
}
.sidebar a.current:before {
  content: '';
  width: 4px;
  height: 100%;
  display: inline-block;
  position: absolute;
  background: #337ab7;
  left: 0;
  top: 0;
}
/*侧边栏结束*/
/*任务分配开始*/
.sys_tasking .checkbox {
  margin-top: 5px;
}
.sys_tasking .checkbox label {
  margin-bottom: 10px;
  margin-right: 10px;
}
/*任务分配结束*/
/*数据列表开始*/
.table .opera a:not(:disabled) {
  display: inline-block;
  float: left;
}
.table .opera a:not(:disabled) + a {
  margin-left: 8px;
}
.table .opera a:not(:disabled) + a:before {
  content: '|';
  color: #cccccc;
  margin-right: 8px;
}
/*数据列表结束*/
/*试卷预览开始*/
.paper_preview_container .question_info {
  background: #fff;
  border-top-style: dashed;
}
.paper_preview_container .question_info .row + .row {
  margin-top: 10px;
}
.paper_preview_container .question_info .question_info_heading {
  text-indent: -8px;
  margin-bottom: 5px;
}
.paper_preview_container .question_info .question_attr {
  border-bottom: #ccc dotted 1px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.paper_preview_container .question_info .question_attr:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.paper_preview_container .question_info .question_attr dt {
  width: 30px;
  float: left;
  line-height: 28px;
}
.paper_preview_container .question_info .question_attr dt + dd {
  margin-left: 30px;
}
/*试卷预览结束*/
/*双向细目表知识点开始*/
.tag {
  position: relative;
  padding-right: 26px;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 3px;
  /*float: left;*/
  border: #ccc solid 1px;
  padding: 3px 30px 3px 8px;
  border-radius: 14px;
  /*white-space: nowrap;*/
}
.tag i {
  width: 26px;
  height: 26px;
  line-height: 22px;
  font-size: 16px;
  overflow: hidden;
  border-radius: 13px;
  display: inline-block;
  position: absolute;
  font-weight: 700;
  right: 0;
  top: 0;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}
.tag_add {
  width: 26px;
  height: 26px;
  line-height: 22px;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1px;
  margin-bottom: 1px;
  cursor: pointer;
  border-radius: 100%;
  background: #1686D7;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.knowledge_list input[type="checkbox"] {
  display: none;
}
.knowledge_list input[type="checkbox"]:checked + label {
  border-color: #337ab7;
  background: #337ab7;
  color: #fff;
}
.knowledge_list label {
  border: #ccc solid 1px;
  border-radius: 1px;
  padding: 3px 5px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 2px;
  margin-right: 2px;
}
/*双向细目表知识点结束*/
/* 试卷 */
.test_paper_name_panel {
  background: #fff;
  border-radius: 2px;
}
.test_paper_name_panel > .panel_heading {
  text-align: center;
  padding: 0 15px;
}
.test_paper_name_panel > .panel_heading > .panel_title {
  font-size: 22px;
  margin: 0;
  line-height: 1.5;
  padding: 20px 0 10px;
}
.test_paper_name_panel > .panel_heading > .panel_info {
  display: table;
  table-layout: fixed;
  margin: 0 auto;
  padding-bottom: 25px;
  color: #999;
}
.test_paper_name_panel > .panel_heading > .panel_info > li {
  display: table-cell;
}
.test_paper_name_panel > .panel_heading > .panel_info > li + li {
  padding-left: 20px;
}
.test_paper_panel > .panel_body {
  /*图例*/
  /*题型*/
  /*题*/
}
.test_paper_panel > .panel_body .overview .catalog {
  background: #333;
  width: 30px;
  padding: 5px 8px 0;
  color: #fff;
  position: fixed;
  z-index: 99;
  margin-left: 1100px;
  top: 0;
  cursor: pointer;
  user-select: none;
  display: none;
}
.test_paper_panel > .panel_body .overview .catalog:before,
.test_paper_panel > .panel_body .overview .catalog:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px;
  border-color: #333 transparent transparent #333;
  top: 36px;
  left: 0;
  z-index: -1;
}
.test_paper_panel > .panel_body .overview .catalog:after {
  right: 0;
  border-color: #333 #333 transparent transparent;
}
.test_paper_panel > .panel_body .overview .overview_panel {
  background: #fff;
  margin-top: 15px;
  border-radius: 2px;
}
.test_paper_panel > .panel_body .overview .overview_panel.fiexd {
  position: fixed;
  width: 1100px;
  top: 0;
  margin-top: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}
.test_paper_panel > .panel_body .overview .overview_panel.fiexd > .panel_heading > .panel_control > .material-icons {
  display: inline-block;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_heading {
  height: 40px;
  padding: 0 15px;
  border-bottom: #ccc solid 1px;
  position: relative;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_heading .panel_control {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_heading .panel_control > .material-icons {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  display: none;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_heading .panel_control:before {
  content: '';
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_heading .legend {
  display: table;
  table-layout: fixed;
  margin: 0;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_heading .legend > li {
  display: table-cell;
  line-height: 40px;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_heading .legend > li + li {
  padding-left: 10px;
  vertical-align: middle;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_heading .legend > li.item > i {
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 2px;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_heading .legend > li.item > i.danger {
  background: #ee2427;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_heading .legend > li.item > i.warning {
  background: #F6A934;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_heading .legend > li.item > i.info {
  background: #1686D7;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_heading .legend > li.item > i.success {
  background: #00B864;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_body {
  padding: 10px 15px 5px;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_body > a {
  min-width: 26px;
  height: 26px;
  background: #ccc;
  line-height: 26px;
  display: inline-block;
  border-radius: 2px;
  margin-bottom: 5px;
  color: #333;
  text-align: center;
  padding: 0 8px;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_body > a.danger {
  background: #ee2427;
  color: #fff;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_body > a.warning {
  background: #F6A934;
  color: #fff;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_body > a.info {
  background: #1686D7;
  color: #fff;
}
.test_paper_panel > .panel_body .overview .overview_panel .panel_body > a.success {
  background: #00B864;
  color: #fff;
}
.test_paper_panel > .panel_body .question_type_panel .panel_heading {
  font-size: 18px;
  line-height: 24px;
  padding: 12px 0;
}
.test_paper_panel > .panel_body .question_panel {
  border-radius: 2px;
  background: #fff;
}
.test_paper_panel > .panel_body .question_panel + .question_panel {
  margin-top: 15px;
}
.test_paper_panel > .panel_body .question_panel .panel_stem {
  padding: 15px;
}
.test_paper_panel > .panel_body .question_panel .panel_option {
  font-size: 0;
  margin-bottom: 5px;
}
.test_paper_panel > .panel_body .question_panel .panel_option > .option_item {
  font-size: 14px;
  width: 50%;
  padding: 0 15px 10px;
  display: inline-block;
  vertical-align: top;
}
.test_paper_panel > .panel_body .question_panel .panel_stem + .panel_opera,
.test_paper_panel > .panel_body .question_panel .panel_option + .panel_opera {
  border-top: #ccc dashed 1px;
}
.test_paper_panel > .panel_body .question_panel .panel_opera {
  height: 48px;
  position: relative;
  padding: 0 15px;
}
.test_paper_panel > .panel_body .question_panel .panel_opera > .opera_control {
  position: absolute;
  right: 0;
  height: 100%;
}
.test_paper_panel > .panel_body .question_panel .panel_opera > .opera_control:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.test_paper_panel > .panel_body .question_panel .panel_opera > .opera_control span {
  display: inline-block;
  margin-right: 15px;
}
.test_paper_panel > .panel_body .question_panel .panel_opera > .opera_control span.btn {
  padding: 0;
  font-size: 14px;
}
.test_paper_panel > .panel_body .question_panel .panel_opera > .opera_control span.btn .material-icons {
  vertical-align: -3px;
  font-size: 16px;
}
.test_paper_panel > .panel_body .question_panel .panel_opera > .nav.nav-tabs {
  margin-bottom: 0;
  height: 100%;
  border: 0;
}
.test_paper_panel > .panel_body .question_panel .panel_opera > .nav.nav-tabs > li.active > a {
  border-bottom-color: #337ab7;
  color: #337ab7;
}
.test_paper_panel > .panel_body .question_panel .panel_opera > .nav.nav-tabs > li > a {
  line-height: 20px;
  padding: 13px 15px;
  border: 0;
  border-bottom: transparent solid 2px;
  color: #333;
}
.test_paper_panel > .panel_body .question_panel .panel_opera > .nav.nav-tabs > li > a:hover {
  color: #337ab7;
  background: none;
}
.test_paper_panel > .panel_body .question_panel .panel_other {
  border-top: #ccc solid 1px;
  padding: 10px 0 5px;
}
.test_paper_panel > .panel_body .question_panel .panel_other dl.other_attr {
  margin-bottom: 0;
  line-height: 1.8;
  flex-flow: row wrap;
  padding: 0 15px;
}
.test_paper_panel > .panel_body .question_panel .panel_other dl.other_attr > dt {
  width: 95px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 5px;
  float: left;
  opacity: .8;
}
.test_paper_panel > .panel_body .question_panel .panel_other dl.other_attr > dd {
  margin-left: 95px;
  line-height: 24px;
  padding-bottom: 5px;
  vertical-align: top;
}
.test_paper_panel > .panel_body .question_panel .panel_other dl.other_attr > dd .serial_num {
  width: 35px;
  float: left;
}
.test_paper_panel > .panel_body .question_panel .panel_other dl.other_attr > dd .serial_num + .attr {
  margin-left: 35px;
}
.test_paper_panel > .panel_body .question_panel .panel_other dl.other_attr > dd .attr span {
  vertical-align: top;
}
.test_paper_panel > .panel_body .question_panel .panel_other dl.other_attr > dd .attr span.tag_add {
  width: 24px;
  height: 24px;
  line-height: 20px;
  border-radius: 2px;
}
.test_paper_panel > .panel_body .question_panel .panel_other dl.other_attr > dd .attr span.tag {
  height: 24px;
  line-height: 24px;
  padding: 0 30px 0 5px;
  border-radius: 2px;
  font-size: 12px;
}
.test_paper_panel > .panel_body .question_panel .panel_other dl.other_attr > dd .attr span.tag i {
  width: 22px;
  height: 22px;
  line-height: 18px;
  border-radius: 0 2px 2px 0;
}
/*课本关系维护*/
.book_relation_panel {
  position: absolute;
  top: 90px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: #fff;
}
.book_relation_panel .panel_2_5 {
  width: 25%;
  position: absolute;
  top: 0;
  bottom: 0;
}
.book_relation_panel .panel_2_5:nth-child(1) {
  left: 0;
}
.book_relation_panel .panel_2_5:nth-child(2) {
  left: 25%;
}
.book_relation_panel .panel_2_5:nth-child(3) {
  left: 50%;
}
.book_relation_panel .panel_2_5:nth-child(4) {
  left: 75%;
}
.book_relation_panel .panel_2_5 > ul {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border: #ccc solid 1px;
  border-radius: 2px;
  padding: 10px 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.book_relation_panel .panel_2_5 > ul > li {
  padding: 6px 10px;
}
.book_relation_panel .panel_2_5 > ul > li:hover {
  background: rgba(0, 0, 0, 0.1);
}
.book_relation_panel .panel_2_5 > ul > li.active {
  background: #337ab7;
  color: #fff;
}
.book_relation_panel .panel_2_5 > ul > li > .checkbox {
  margin: 0;
  width: 24px;
  height: 24px;
  float: left;
  text-align: center;
}
.book_relation_panel .panel_2_5 > ul > li > .checkbox > input[type="checkbox"] {
  position: static;
  margin: 0;
  vertical-align: -4px;
}
.book_relation_panel .panel_2_5 > ul > li > .checkbox + .name {
  margin-left: 24px;
}
.book_relation_panel .panel_2_5 > ul > li > .name {
  line-height: 24px;
}